:host{
    margin: 2px;
    border: 1px solid black;
    border-radius: 5px;
    display: block;
    background-image: linear-gradient(to top, #ffffff, #cbfbff, #142727, #0044ff, #1570DA);
}

img {
    max-width: 100%;
}